body {
  background-color: black;
}
.button-container {
  margin-top: 50px;
  width: 1px;
  height: 1px;
  display: none;
}
.modal-header {
  background-color: #000000;
  color: white;
}
.modal-body {
  background-color: #000000;
}
.modal-footer {
  background-color: #000000;
}
.ssl_inner {
  display: none;
}
.fa-times {
  color: white;
}
.ng-binding {
  color: white;
}
.alert {
  display: none;
}
.popover {
  color: #d4ab72;
}
#technology-by-fa {
  color: white;
}

.hide-button {
  box-sizing: border-box;
  width: 0;
  height: 0;
  padding: 0 !important;
  margin: 0;
  opacity: 0;
  border: none !important;
  overflow: hidden;
}

.gold-filled,
.gold-empty {
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: bold;

  width: auto;
  margin: 0;
  padding: 22px 38px;
  display: block;
  box-sizing: border-box;
  text-align: center;

  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 6px;
  transition: 0.1s opacity linear;
}

.gold-filled {
  color: #000;
  background: #D4AB72;
}

.gold-empty {
  color: #999696;
  background: #191919;
  border: 2px solid #999696;
}
