body {
  background-color: black;
}
.button-container {
  margin-top: 50px;
  width: 1px;
  height: 1px;
  display: none;
}
.modal-header {
  background-color: #000000;
  color: white;
}
.modal-body {
  background-color: #000000;
}
.modal-footer {
  background-color: #000000;
}
.ssl_inner {
  display: none;
}
.fa-times {
  color: white;
}
.ng-binding {
  color: white;
}
.alert {
  display: none;
}
.popover {
  color: #d4ab72;
}
#technology-by-fa {
  color: white;
}

.gold-filled,
.gold-empty {
  font-family: 'Poppins' !important;
  font-size: 14px !important;
  font-weight: bold !important;

  width: auto;
  margin: 0;
  padding: 22px 38px !important;
  display: block !important;
  box-sizing: border-box;
  text-align: center;

  cursor: pointer;
  border: none !important;
  outline: none;
  border-radius: 6px !important;
  transition: 0.1s opacity linear;
  background-image: none !important;
}

.gold-filled {
  color: #000 !important;
  background: #D4AB72 !important;
  background-image: linear-gradient(to bottom, #D4AB72 0, #977c56 100%) !important;
}

.gold-empty {
  color: #999696 !important;
  background: #191919 !important;
  background-image: linear-gradient(to bottom, #2b2319 0, #191919 100%) !important;
  border: 2px solid #999696 !important;
}

.hide-button {
  box-sizing: border-box;
  width: 0;
  height: 0;
  padding: 0 !important;
  margin: 0;
  opacity: 0;
  border: none !important;
  overflow: hidden;
}

#fa-invest-now-modal.classic {
  color: white !important;
}
/* 
  .modal-dialog {
      width: 100vw;
      margin: 0 auto;
  } */
.modal-content, .modal-dialog {
    border-right: none;
    border-left: none;
}
